@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Orbitron&family=Playfair+Display&family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Cinzel&family=Orbitron&family=Playfair+Display&family=Rubik+Moonrocks&display=swap&family=Sacramento&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: black;
    color: hsl(60, 56%, 91%);
    width: 420px;
    height: 250vh;
}

.sidebar nav {
    padding: 45px;
}

.sidebar nav li {
    list-style: none;
    font-size: 22px;
    padding: 33px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: bisque;
}

.main {
    background-color: rgba(26, 83, 83, 0.811);
    width: 90vw;
}

.container {
    display: flex;
}

.infocontainer {
    background-color: rgb(211, 208, 208);
    height: 78vh;
    width: 80vw;
    margin: 145px auto;
    display: flex;
    justify-content: space-around;
}

.Intrest p{
    font-family: 'Bruno Ace SC', cursive;
}
.devinfo {
    margin: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Bruno Ace SC', cursive;
}

.hello {
    font-size: 50px;
}

.name {
    font-size: 60px;
    font-family: 'Sacramento', cursive;
    font-weight: bolder;
}

.about {
    font-size: 30px;
}

.moreabout {
    font-size: 15px;
    margin-top: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.buttons {
    margin-top: 34px;
}

.btn {
    padding: 12px 9px;
    border-radius: 21px;
    color: rgb(255, 241, 241);
    background-color: darkslategray;
    font-weight: bold;
    font-size: 12px;
    margin: 0 3px;
    cursor: pointer;
}

.btn-sm {
    font-size: 12px;
    margin: 14px 0;
    padding: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}

.btn:hover {
    color: black;
    background-color: rgba(147, 255, 207, 0.712);
}

.devpic img {
    height: 78vh;

}

.contactform {
    padding: 0 34px;
    padding-top: 144px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contactform h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* text-align: center; */
    padding: 12px 0;

}

.contactform form div {
    padding: 12px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input {
    width: 26vw;
    border-radius: 6px;
    margin: 6px 0 0 0;
    padding: 3px;

}

#emailHelp {
    font-size: 11px;
    color: rgb(2, 2, 81);
    margin: 0 5px;
}

#form-check {
    flex-direction: row;
}

#form-check input {
    width: 23px;
    margin: 3px 0;
}

.blogItem {
    margin: 25px;
    font-family: 'Bruno Ace SC', cursive;
}

h1 {
    font-size: 35px;
    font-family: 'Bruno Ace SC', cursive;
}

p {
    font-size: 15px;
    margin: 12px;
}

.intro h2 {
    font-family: 'Sacramento', cursive;
    margin: 12px;
}

.intro p {
    font-family: 'Bruno Ace SC', cursive;
    margin: 12px;
}

.skillcontainer {
    font-family: 'Bruno Ace SC', cursive;
    font-weight: 700;
    padding: 12px;
}

.skillItem {
    display: flex;
    align-items: center;
}

.skill {
    margin: 5px 0;
    width: 256px;
    height: 4px;
    padding: 2px;
    background-color: rgb(103, 255, 103);
    border: 2px solid black;
}

.hundered {
    width: 256px;
    background-color: chartreuse;
}

.t75 {
    width: 125px;
    background-color: blueviolet;
}

.t5 {
    width: 75px;
    background-color: darkorange;
}

.Myprojects h1 {
    font-size: 25px;
    font-family: 'Sacramento', cursive;
    margin: 14px;
}

.Myprojects h2 {
    font-size: 18px;
    font-family: 'Bruno Ace SC', cursive;
    margin: 20px auto;
}

.Myprojects p {
    font-size: 15px;
    font-family: 'Bruno Ace SC', cursive;
}
.res{
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
